<div class="container" matAutocompleteOrigin>

  <div>
    <mat-error *ngIf="error" class="alert alert-warning">
      <strong>Error</strong> {{errorMessage | json | slice:0:100}}
    </mat-error>
  </div>

  <br>

  <h1>Warehouse Manager</h1>
  <h2>Create Order</h2>

  <br>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput type="date" [(ngModel)]="orderDate">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>Mass</mat-label>
    <input matInput type="number" [(ngModel)]="orderMass">
  </mat-form-field>
  
  <br>

  <mat-form-field>
    <mat-label>Loading Time</mat-label>
    <input matInput type="number" [(ngModel)]="loadingTime">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>Unloading Time</mat-label>
    <input matInput type="number" [(ngModel)]="unloadingTime">
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>Warehouse ID</mat-label>
    <mat-select [(value)]="warehouseId">
      <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse">
        {{warehouse.alphaNumId}}
        {{warehouse.designation}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <div>
    <button mat-raised-button color="primary" (click)="createOrder()">Create</button>
    <div *ngIf="success" class="success-popup">
      <span>
        <h3><strong>Success!</strong></h3>
        <h4>{{successMessage}}</h4>
          <button mat-raised-button color="primary" class="success-btn" (click)="goBack()">Ok</button>
      </span>
    </div>
  </div>

 <!-- button to go back to the previous page -->
  <button mat-raised-button color="primary" class="backBtn" (click)="goBack()">Back</button>
