<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">ElectricGo</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <button mat-button (click)="goToMenu('LogisticManager/addPackaging')">Create a Packaging</button>
        <br>
        <button mat-button (click)="goToMenu('LogisticManager/listPackaging')">List Packagings</button>
        <br>
        <button mat-button (click)="goToMenu('LogisticManager/createPath')">Create a Path</button>
        <br>
        <button mat-button (click)="goToMenu('LogisticManager/listPath')">List Paths</button>
        <br>
        <button mat-button (click)="goToMenu('LogisticManager/listTrucks')">List Trucks</button>
        <br>
        <button mat-button (click)="goToMenu('LogisticManager/viewNetwork')">View Network</button>
        <br>
        <button mat-button (click)="goToMenu('LogisticManager/getHeuristic')">Get Heuristic</button>
        <br>
        <button mat-button (click)="goToMenu('LogisticManager/bestPathForFleet')">Best Path For Fleets</button>
        <br>
        <button mat-button (click)="goToMenu('LogisticManager/profile')">My Profile</button>


      </mat-nav-list>
    </mat-sidenav>
    <h1>Logistic Manager Menu</h1>
    <br>



  </mat-sidenav-container>


</div>

