<mat-dialog-content class="mat-typography">
  <div>

    <h1><strong>Normas Envolvidas no Nosso Projeto</strong></h1>

   <p>
    <strong>•	Artigo 6, tópico 1:</strong> o titular dos dados é responsável por colocar os seus próprios dados e registar-se no programa. Os dados guardados no nosso sistema, serão aqueles que o titular dos dados nos forneceu com o seu consentimento.
  </p>
  <p>
    <strong>•	Artigo 6, tópico 4:</strong> todos os dados recolhidos são usados para empenhar as funcionalidades que o titular dos dados teve consentimento.
  </p>
  <p>
    <strong>•	Artigo 7, tópico 2:</strong> é feita a distinguirão entre os assuntos de modo a que o titular dos dados não coloque dados que não tenha o seu consentimento.
  </p>
  <p>
    <strong>•	Artigo 7, tópico 3:</strong> o titular dos dados pode retirar o seu consentimento, fazendo com que os seus dados não empenham mais as funcionalidades que ele previamente consentiu.
  </p>
  <p>
    <strong>•	Artigo 7, tópico 4:</strong> todas as funcionalidades respeitam o consentimentos do titular dos dados.
  </p>
  <p>
    <strong>•	Artigo 9, tópico 1:</strong> o nosso tratamento de dados não revela qualquer origem racial ou étnica, nem como opiniões políticas, convicções religiosas ou filosóficas. Nem dados relativos à saúde ou dados relativos à vida sexual ou orientação sexual de uma pessoa.
  </p>
  <p>
    <strong>•	Artigo 15, tópico 1:</strong> o titular dos dados tem direito a ver os seus dados pessoais, quanto ás finalidades de tratamento desses dados no sistema, o  titular dos dados pode conferir na documentação do nosso sistemas, todas as funcionalidades que envolvam os dados do titular dos dados são mencionados nesse documento.
  </p>
  <p>
    <strong>•	Artigo 17, tópico 1:</strong> se o titular assim quiser, apagaremos os seus dados pessoais sem demora injustificada e deixarão de ser utilizados para as finalidades do nosso sistema.
  </p>
  <p>
    <strong>•	Artigo 17, tópico 2:</strong> será informado aos responsáveis de processamentos de dados que o titular desejou que os seus dados pessoais fossem apagados.
  </p>
  <p>
    <strong>•	Artigo 18, tópico 1:</strong> o titular de dados tem o direito de contestar a exatidão dos dados pessoais. Se o tratamento for ilícito e o titular dos dados se opuser ao apagamento dos dados pessoais e solicitar, limita-se a sua utilização.
  </p>
  <p>
    <strong>•	Artigo 21, tópico 1:</strong> o titular dos dados tem o direito de se opor a qualquer momento, á utilização dos seus dados pessoais, o responsável pelo tratamento de dados terá de impedir a utilização dos dados pessoais do titular nas futuras operações.
  </p>
  <p>
    <strong>•	Artigo 22, tópico 1:</strong> o titular de dados não está sujeito a nenhuma decisão tomada exclusivamente com base no tratamento automatizado.
  </p>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button>
  </mat-dialog-actions>
</mat-dialog-content>
