<div *ngIf="showPage">

  <div class="mat-elevation-z8">

    <br>
    <mat-label>Warehouse Alpha Numeric ID:  </mat-label>
    <input matInput type="any" [(ngModel)]="alphaId"/>
    <button mat-raised-button color="primary" (click)="getWarehouse()">List</button>

    <br>

    <table mat-table [dataSource]="warehouse">
      <caption><h1>Get Warehouse</h1></caption>
      <ng-container matColumnDef="alphaNumId">
        <th mat-header-cell *matHeaderCellDef>AlphaNumericID</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.alphaNumId}} </td>

      </ng-container>

      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef>Designation</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.designation}} </td>

      </ng-container>

      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef>Street</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.street}} </td>
      </ng-container>

      <ng-container matColumnDef="postalCode">
        <th mat-header-cell *matHeaderCellDef>Postal Code</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.postalCode}} </td>
      </ng-container>

      <ng-container matColumnDef="latitudeDegree">
        <th mat-header-cell *matHeaderCellDef>Latitude Degree</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.latitudeDegree}} </td>
      </ng-container>

      <ng-container matColumnDef="latitudeMinute">
        <th mat-header-cell *matHeaderCellDef>Latitude Minute</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.latitudeMinute}} </td>
      </ng-container>

      <ng-container matColumnDef="latitudeSecond">
        <th mat-header-cell *matHeaderCellDef>Latitude Second</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.latitudeSecond}} </td>
      </ng-container>

      <ng-container matColumnDef="longitudeDregree">
        <th mat-header-cell *matHeaderCellDef>Longitude Degree</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.longitudeDregree}} </td>
      </ng-container>

      <ng-container matColumnDef="longitudeMinute">
        <th mat-header-cell *matHeaderCellDef>Longitude Minute</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.longitudeMinute}} </td>
      </ng-container>


      <ng-container matColumnDef="longitudeSecond">
        <th mat-header-cell *matHeaderCellDef>Longitude Second</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.longitudeSecond}} </td>
      </ng-container>


      <ng-container matColumnDef="activated">
        <th mat-header-cell *matHeaderCellDef>Activated</th>
        <td mat-cell *matCellDef="let warehouses"> {{warehouses.activated}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Page navigation"></mat-paginator>

  <button mat-raised-button color="primary" class="backBtn" (click)="goBack()">Back</button>

</div>
