<div *ngIf = "showPage">
  <div class="container" matAutocompleteOrigin>

    <br>
    <br>

    <h1>Fleet Manager</h1>
    <h2>Create Truck</h2>

    <div>
        <mat-error *ngIf="error" class="alert alert-warning">
          <strong>Error</strong> {{errorMessage |json | slice:0:100}}
        </mat-error>
      </div>

    <br>

    <mat-form-field>
        <mat-label> Truck Characteristic</mat-label>
        <input matInput type = "text" [(ngModel)]="caractTruck"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Truck Plate Number </mat-label>
        <input matInput type = "text" [(ngModel)]="truckPlate"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Truck Tare </mat-label>
        <input matInput type = "number" [(ngModel)]="tare"/>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label> Truck Weight Capacity </mat-label>
        <input matInput type = "number" [(ngModel)]="weightCapacity"/>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label> Truck Total Battery Charge </mat-label>
        <input matInput type = "number" [(ngModel)]="totalBatCharge"/>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label> Truck Autonomy </mat-label>
        <input matInput type = "number" [(ngModel)]="cargaMax"/>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label> Truck Charge Time </mat-label>
        <input matInput type = "number" [(ngModel)]="chargingTime"/>

    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="addTruck()">Create</button>

    <br>


     <!-- button to go back to the previous page -->
     <button mat-raised-button color="primary" class="backBtn" (click)="goBack()">Back</button>


</div>
</div>
