table {
  width: 100%;
}
.backBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  margin-right: 20px;
  border-style: solid;
  border-color: white;
}

.titles {
  text-align: center;
}

.example-section {
  margin-left: 20px;
}

.example-margin {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.mat-form-field{
  background: none !important;
}
