<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">ElectricGo</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <button mat-button (click)="goToMenu('Admin/registerUser')">Create User</button>
        <br>
        <button mat-button (click)="goToMenu('Admin/listUser')">List User</button>
        <br>
        <button mat-button (click)="goToMenu('Admin/changeUserRole')">Change User Role</button>
        <br>
        <button mat-button (click)="goToMenu('Admin/profile')">My Profile</button>

      </mat-nav-list>
    </mat-sidenav>
    <h1>Admin Menu</h1>
    <br>



  </mat-sidenav-container>


</div>
