
     <div id="views-panel">
      <table class="views">
          <tr>
              <td>
                  <label>View:</label>
                  <select id="view">
                      <option value="fixed">Fixed</option>
                      <option value="top">Top</option>
                  </select>
              </td>
      </table>

  </div>

  <div id="subwindows-panel">
      <table class="subwindows">
          <tr>
              <td>
                  <label>Statistics:</label>
                  <input type="checkbox" id="statistics">
              </td>
          </tr>
      </table>
  </div>

<canvas #canvas id = "canvas"> </canvas>



