<div class="container" matAutocompleteOrigin>

  <div>
    <mat-error *ngIf="error" class="alert alert-warning">
      <strong>Error</strong> {{errorMessage |json | slice:0:100}}
    </mat-error>
  </div>

  <div class = "titles">
    <h1>Logistic Manager</h1>
    <h1>Create Package</h1>
  </div>

  <mat-form-field>
    <mat-label>Orders</mat-label>
    <mat-select [(value)]="orderRef">
      <mat-option *ngFor="let order of orders" [value]="order">
        {{order.identifier}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Trucks</mat-label>
    <mat-select [(value)]="truckRef">
      <mat-option *ngFor="let truck of trucks" [value]="truck">
        {{truck.caractTruck}}
      </mat-option>
    </mat-select>

  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>X position</mat-label>
    <input matInput type="number" [(ngModel)]="posX">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Y position</mat-label>
    <input matInput type="number" [(ngModel)]="posY">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Z position</mat-label>
    <input matInput type="number" [(ngModel)]="posZ">
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary" (click)="addPackaging()">Create</button>


  <div *ngIf="success" class="alert alert-success">
    <strong>Success!</strong> {{successMessage}}

  </div>


 <!-- button to go back to the previous page -->
  <button mat-raised-button color="primary" class="backBtn" (click)="goBack()">Back</button>
