.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.backBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.backBtn button:not(:last-child) {
  border-bottom: none;
  /* Prevent double borders */
}

/* Add a background color on hover */
.backBtn button:hover {
  background-color: rgb(51, 51, 145);
}

.titles {
  text-align: center;
}
