<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">ElectricGo</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <button mat-button (click)="goToMenu('FleetManager/addTruck')">Create a Truck</button>
        <br>
        <button mat-button (click)="goToMenu('FleetManager/profile')">My Profile</button>
      </mat-nav-list>
    </mat-sidenav>
    <h1>Fleet Manager Menu</h1>
    <br>

  </mat-sidenav-container>

</div>
