<!--Table with all the paths from the array.--><div class="mat-elevation-z8">
  <br>
  <div class = "titles">
    <h1>Logistic Manager</h1>
    <h2>List Trucks</h2>
  </div>

  <div>
    <mat-error *ngIf="error" class="alert alert-warning">
      <strong>Error</strong> {{errorMessage |json | slice:0:100}}
    </mat-error>
  </div>

  <mat-form-field class="filter-options">
    <mat-label>Filter Options</mat-label >
    <mat-select [(value)]="filterOption" (selectionChange)="chooseFilter()">
      <mat-option *ngFor="let option of options" [value]="option" >
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="filterOption === 'Truck plate'">
    <mat-label>Truck plate</mat-label>
    <input matInput type="string" [(ngModel)]="truckPlateRef" (change)="getTrucksByFilter()">
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="filterOption === 'Truck characteristic'">
    <mat-label>Truck characteristic</mat-label>
    <input matInput type="string" [(ngModel)]="truckCaractRef" (change)="getTrucksByFilter()">
  </mat-form-field>

  <div class="mat-elevation-z8">
   <table mat-table [dataSource]="trucks">
    <ng-container matColumnDef="Truck characteristic">
      <th mat-header-cell *matHeaderCellDef> Truck characteristic</th>
      <td mat-cell *matCellDef="let truck"> {{truck.caractTruck}} </td>
    </ng-container>

    <ng-container matColumnDef="Truck Plate">
      <th mat-header-cell *matHeaderCellDef> Truck Plate</th>
      <td mat-cell *matCellDef="let truck"> {{truck.truckPlate}} </td>
    </ng-container>

    <ng-container matColumnDef="Weight Capacity">
      <th mat-header-cell *matHeaderCellDef> Weight Capacity</th>
      <td mat-cell *matCellDef="let truck"> {{truck.weightCapacity}} </td>
    </ng-container>

    <ng-container matColumnDef="Max Weight Capacity">
      <th mat-header-cell *matHeaderCellDef> Max Weight Capacity</th>
      <td mat-cell *matCellDef="let truck"> {{truck.cargaMax}} </td>
    </ng-container>

    <ng-container matColumnDef="Max Battery">
      <th mat-header-cell *matHeaderCellDef> Max Battery</th>
      <td mat-cell *matCellDef="let truck"> {{truck.totalBatCharge}} </td>
    </ng-container>

    <ng-container matColumnDef="Tare">
      <th mat-header-cell *matHeaderCellDef> Tare</th>
      <td mat-cell *matCellDef="let truck"> {{truck.tare}} </td>
    </ng-container>

    <ng-container matColumnDef="Charging Time">
      <th mat-header-cell *matHeaderCellDef> Charging Time</th>
      <td mat-cell *matCellDef="let truck"> {{truck.chargingTime}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Page navigation"></mat-paginator>

</div>

<button mat-raised-button color="primary" class="backBtn" (click)="goBack()">Back</button>
