
<app-user-side-bar (menuSelected)="goTo($event)"></app-user-side-bar>



<router-outlet></router-outlet>

<!-- Mensagem a mostrar qual é o user e algum texto-->


<!--<br>
<h1>Logistic Manager Front Page</h1>
<br>
<div class="form">
  <div class="btn-group">
    <div class="column">
      <button mat-raised-button color="primary" (click)="addPackaging()">Add Packaging</button>
      <br>
      <button mat-raised-button color="primary" (click)="listPackagings()">List Packagings</button>
      <br>
      <button mat-raised-button color="primary" (click)="updatePackaging()">Update Packaging</button>
      <br>
      <br>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </div>
  </div>
</div>-->
