<div *ngIf = "showPage">

  <br>
  <div class = "titles">
    <h1>Logistic Manager</h1>
    <h1>List Paths</h1>
  </div>

 <!--Table with all the paths from the array.-->
 <mat-form-field>
   <mat-label>Filter Options</mat-label>
   <mat-select [(value)]="filterOption" (selectionChange)="chooseFilter()">
     <mat-option *ngFor="let option of options" [value]="option">
       {{option}}
     </mat-option>
   </mat-select>
 </mat-form-field>

 <mat-form-field appearance="fill" *ngIf="filterOption === 'Path by Beginning Warehouse'">
   <mat-label>Beginning Warehouse</mat-label>
   <input matInput type="string" [(ngModel)]="benWare" (change)="getPathsByFilter()">
 </mat-form-field>

 <mat-form-field appearance="fill" *ngIf="filterOption === 'Path by Ending Warehouse'">
   <mat-label>Ending Warehouse</mat-label>
   <input matInput type="string" [(ngModel)]="endWare" (change)="getPathsByFilter()">
 </mat-form-field>

 <mat-form-field appearance="fill" *ngIf="filterOption === 'Path by Beginning and Ending Warehouse'">
   <mat-label>Beginning Warehouse</mat-label>
   <input matInput type="string" [(ngModel)]="benWare" (change)="getPathsByFilter()">
 </mat-form-field>

 <mat-form-field appearance="fill" *ngIf="filterOption === 'Path by Beginning and Ending Warehouse'">
   <mat-label>Ending Warehouse</mat-label>
   <input matInput type="string" [(ngModel)]="endWare" (change)="getPathsByFilter()">
 </mat-form-field>

 <div class="mat-elevation-z8">
   <table mat-table [dataSource]="paths">
     <ng-container matColumnDef="Beginning Warehouse">
       <th mat-header-cell *matHeaderCellDef> Beginning Warehouse</th>
       <td mat-cell *matCellDef="let path"> {{path.beginningWarehouseId}} </td>
     </ng-container>

     <ng-container matColumnDef="Ending Warehouse">
       <th mat-header-cell *matHeaderCellDef> Ending Warehouse</th>
       <td mat-cell *matCellDef="let path"> {{path.endingWarehouseId}} </td>
     </ng-container>

     <ng-container matColumnDef="distance">
       <th mat-header-cell *matHeaderCellDef> Distance</th>
       <td mat-cell *matCellDef="let path"> {{path.distance}} </td>
     </ng-container>

     <ng-container matColumnDef="energy">
       <th mat-header-cell *matHeaderCellDef> Energy</th>
       <td mat-cell *matCellDef="let path"> {{path.energy}} </td>
     </ng-container>

     <ng-container matColumnDef="time">
       <th mat-header-cell *matHeaderCellDef> Time</th>
       <td mat-cell *matCellDef="let path"> {{path.time}} </td>
     </ng-container>

     <ng-container matColumnDef="chargingTime">
       <th mat-header-cell *matHeaderCellDef> Charging Time</th>
       <td mat-cell *matCellDef="let path"> {{path.chargingTime}} </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>

   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Page navigation"></mat-paginator>

 </div>

 <button mat-raised-button color="primary" class="backBtn" (click)="goBack()">Back</button>
</div>
